asgiref==3.8.1
branca==0.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.1.1
django-sslserver==0.22
folium==0.17.0
idna==3.10
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
pandas==2.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
xyzservices==2024.9.0
beautifulsoup4==4.9.3
chardet==4.0.0
click==7.1.2
covid==2.4.1
COVID19Py==0.3.0
pydantic==1.8.2
soupsieve==2.2.1
typer==0.3.2
typing-extensions==3.10.0.0

