<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard | Home</title>

      <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Custom fonts for this template-->
    <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

     <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static '/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- #1A1053  -->

        <!-- Sidebar -->
        <ul class="navbar-nav bg-indigo-900 sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-viruses"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dashboard<sup></sup></div>
            </a>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'map' %}">
                    <i class="fas fa-globe"></i>
                    <span>Report</span></a>
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-home"></i>
                    <span>statistics</span></a>

            </li>


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid mt-20">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">statistics</h1>
                </div>


                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">summery</h6>
                                </div> 
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myChart" width="400" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                        $(document).ready(function() {
                            var ctx = document.getElementById('myChart').getContext('2d');

                            var colors4 =  ['#49A9EA', '#36CAAB', '#f70505'];
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                // we can user, `bar, pie, line, radar, doughnut, polarArea,`
                            
                                data: {
                                    labels: ['จำนวนรถ', 'จำนวนรถที่ใช้ความเร็วเกิน' ,'จำนวนรถที่เกิดอุบัติเหตุุ'],
                                    datasets: [{
                                        label: 'สถิติ',
                                        data: [ {{ confirmed  }}, {{ recovered }}, {{ deaths  }} ],
                                        backgroundColor: colors4
                                    
                                    }]
                                },
                                options: {
                                    
                                    options: {
                                        event: ['click']
                                    }
                                }
                            });
                        });


                        </script>
                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">statistic</h6>
                                   
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myChartpie"></canvas> 
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> จำนวนรถ
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-dark"></i> จำนวนรถที่ใช้ความเร็วเกิน
                                        </span>
                                        <span class="mr-2">
                                        <i class="fas fa-circle text-danger"></i> จำนวนรถที่เกิดอุบัติเหตุุ
                                        </span>
                                    </div> 
                                </div> 

                                <script>
                                $(document).ready(function() {
                                    var ctx = document.getElementById('myChartpie').getContext('2d');
                                    var colors4 = ['#49A9EA', '#36CAAB', '#f70505'];
                                    var myChart = new Chart(ctx, {
                                        type: 'doughnut',
                                        // we can user, `bar, pie, line, radar, doughnut, polarArea,`
                                    
                                        data: {
                                            labels: ['จำนวนรถ', 'จำนวนรถที่ใช้ความเร็วเกิน' ,'จำนวนรถที่เกิดอุบัติเหตุุ'],
                                            datasets: [{
                                                label: 'Covid19',
                                                data: [ {{ confirmed }}, {{recovered}}, {{ deaths }}],
                                                backgroundColor: colors4
                                            
                                            }]
                                        },
                                        options: {
                                            
                                            options: {
                                                event: ['click']
                                            }
                                        }
                                    });
                                });


                        </script>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                        </div>

                        <div class="col-lg-6 mb-4">
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        {% comment %} <span>Copyright &copy; </span> {% endcomment %}
                        <span></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   

    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static '/js/sb-admin-2.min.js' %}"></script>



</body>

</html>